.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(92,99,165,255);
    align-items: center;
    font-family: 'Garamond';
}
.consulta{
    margin-top: 25px;
    background-color: rgb(221,226,248,255);
    width: 98%;
    height: 110px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}
.titulo{
    margin-left: 20px;
    margin-bottom: 10px;
}
.busqueda {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#input_digimon {
    width: 420px;
    height: 30px;
    border-radius: 8px;
    border: white;
}
#button_search {
    width: 100px;
    height: 34px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 8px;
    background-color: rgb(92,99,165);
    color: white;
}
.digimon-information{
    width: 85%;
    height: 600px;
    background-color: rgb(221,226,248,255);
    margin-top: 20px;
    border-radius: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#show-info{
    width: 200px;
    height: 460px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#info-adicional{
    width: 200px;
    height: 460px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titulo1{
    margin-top: 5px;
    height: 20px;
}
.container-info{
    width: 98%;
    height: 600px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card{
    width: 250px;
    height: 356px;
    border: 3px rgb(255, 204, 0, 1);
    border-radius: 10px;
    border-style: outset;
    background-color: white;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-content{
    color: white;
    font-family: 'Trebuchet MS';
    display: flex;
    flex-direction: column;
}
.name{
    color: white;
    margin-top: 10px;
    width: 230px;
    height: 30px;
    border-radius: 10px;
    border-style: outset;
    background-color: rgb(233, 65, 65, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.level{
    margin-top: 6px;
    width: 230px;
    height: 40px;
    border-radius: 10px;
    border-style: outset;
    background-color: rgb(233, 65, 65, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img4 img{
    border-radius: 10px;
    margin-left: 20px;
}
.img{
    margin-top: 5px;
    border-bottom: 3px solid rgb(255, 204, 0, 1);
}
.container-izquierda{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-derecha{
    margin-left: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.adicional{
    margin-top: 6px;
    width: 230px;
    height: 70px;
    border-radius: 10px;
    border-style: outset;
    background-color: rgb(233, 65, 65, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.campo {
    margin-left: 15px;
    display: flex;
    align-items: center;
    border: 3px solid white;
}
.skills{
    margin-top: 6px;
    color: white;
    width: 230px;
    height: 60px;
    border-radius: 10px;
    background-color: cornflowerblue;
    border-style: outset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.otros{
    font-size: 13px;
    margin-left: 25px;
}
.name{
    color: white;
    margin-top: 10px;
    width: 230px;
    height: 40px;
    border-radius: 10px;
    border-style: outset;
    background-color: rgb(233, 65, 65, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.evolucion{
    color: white;
    margin-top: 6px;
    width: 230px;
    height: 42px;
    border-radius: 10px;
    border-style: outset;
    background-color: rgb(46, 110, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img2{
    margin-top: 7px;
    border-top: 3px solid rgb(255, 204, 0, 1);
}
.NomEvolucion{
    color: white;
    width: 230px;
    height: 42px;
    border-radius: 10px;
    border-style: outset;
    background-color: rgb(46, 110, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-adicionales{
    width: 60%;
    height: 630px;
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.digimon-pEvol{
    width: 100%;
    height: 275px;
    margin-bottom: 10px;
    background-color: rgb(221,226,248,255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pEvol{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.NomPreEvolucion{
    color: white;
    width: 180px;
    height: 42px;
    border-radius: 10px;
    border-style: outset;
    background-color: rgb(46, 110, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img3{
    border-radius: 10px;
    margin-bottom: 6px;
    border: 3px rgb(255, 204, 0, 1);
    border-style: outset;
}
.PreEvol{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.digimon-descripcion{
    width: 100%;
    height: 315px;
    margin-bottom: 10px;
    background-color: rgb(221,226,248,255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descripcion-digimon {
    width: 90%;
    font-size: 14px;
    margin-left: 23px;
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
    border: 3px rgb(255, 204, 0, 1);
    border-style: outset;
}
.titulo3{
    height: 30px;
}


